<section id="images">
    <div class="container-fluid d-none d-md-block">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img src="assets/sunset.jpg" class="d-block w-100 c-img" alt="...">
                </div>
                <div class="carousel-item c-item">
                    <img src="assets/sunrise.jpg" class="d-block w-100 c-img" alt="...">
                </div>
                <div class="carousel-item c-item">
                    <img src="assets/mountain.jpg" class="d-block w-100 c-img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container d-block d-md-none pb-5">
        <img src="assets/sunset.jpg" class="img-thumbnail" alt="sunset">
        <img src="assets/sunrise.jpg" class="img-thumbnail" alt="sunrise">
        <img class="img-thumbnail" src="assets/mountain.jpg" alt="mountain">
    </div>
</section>

<section id="about">
    <div class="container pt-md-5 pb-5">
        <div class="row d-flex  align-items-start">
            <div class="col-12 col-md-6 order-md-2 pb-1 p-4 p-sm-0 p-md-0 d-flex flex-column justify-content-center">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae, ab numquam ipsam alias quo
                    vitae, ea commodi officiis dolorem quas laudantium odio quaerat esse dolor minus minima cumque
                    pariatur!
                    Quidem architecto quas consequuntur molestias officia qui ratione, omnis in voluptatibus tempore,
                    praesentium a autem est! Sequi soluta ducimus cum nesciunt praesentium laudantium inventore dolore.
                    Quos ratione incidunt quisquam itaque.</p>
            </div>
            <div class="col-12 col-md-6 order-md-1 d-flex justify-content-center">
                <div class="img-container">
                    <img class="img-thumbnail imgToFitSpace" src="assets/man.jpg" alt="mountain">
                </div>

            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container pb-5">
        <div class="row">
            <div class="col-6">
                <h1>Gallery</h1>
                <div class="row flex-grow-1">
                    <div class="col-6">
                        <img src="assets/leaf.jpg" class="img-thumbnail" alt="sunset">
                    </div>
                    <div class="col-6 pb-5">
                       <img class="img-thumbnail" src="assets/mountain2.jpg" alt="mountain">
                    </div>
                    <div class="col-6">
                       
                          <img src="assets/skyscrapers.jpg" class="img-thumbnail" alt="sunrise">
                    </div>
                    <div class="col-6">
                        <img class="img-thumbnail" src="assets/mountainLake.jpg" alt="mountain">
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="fixed-box">

                </div>

            </div>
        </div>
    </div>
</section>

<section id="quote">
    <div class="container pb-4">
        <div class="row text-center">
            <div class="col-12">
                <i class="bi bi-quote text-muted" style="font-size: 3rem;"></i>
            </div>
            <div class="col-12" style="font-size: 2rem;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium voluptatem illo repellendus
                    eaque placeat ipsa earum minima architecto ut fugiat. Unde, autem quasi consectetur corporis
                    voluptas esse deserunt voluptate voluptates!</p>
            </div>
            <div class="col-12">
                <small>John Doe</small>
            </div>
        </div>
    </div>

</section>

<section id="footer">
    <footer>
        <div class="container-fluid bg-light pt-5 px-5">
            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-center">
                    <h1>LOGO</h1>
                </div>
                <div class="col-12 col-md-6 text-center text-md-center">
                    <div class="d-flex flex-column">
                        <p><i class="bi bi-telephone-fill text-muted pe-2"></i>+123-466-7890</p>
                        <p><i class="bi bi-envelope-at-fill text-muted pe-2"></i>hello&#64;example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</section>